<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-container">
      <img
        alt="image"
        src="/playground_assets/logo-200h.png"
        class="footer-image"
      />
      <div class="footer-container1">
        <span class="footer-text">NEU Campus Navigator</span>
        <span class="footer-text1">
          Copyright © 2023 NEU Campus Navigator Capstone Project. All Rights
          Reserved.
        </span>
      </div>
    </div>
    <img
      alt="image"
      src="public/playground_assets/waves-white.svg"
      class="footer-image1"
    />
  </footer>
</div>
