<div>
  <link href="./header-full.css" rel="stylesheet" />
  <div class="header-full-header">
    <nav class="header-full-nav">
      <div class="header-full-container">
        <a href="index.html" class="header-full-navlink Large">
          NEU Campus Navigator
        </a>
        <div class="header-full-menu">
          <a href="index.html" class="header-full-navlink1 Large">Home</a>
          <a href="contact-us.html" class="header-full-navlink2 Large">
            Contact Us
          </a>
          <span class="header-full-text Large">About NEU</span>
        </div>
        <div class="header-full-container1">
          <div class="header-full-container2">
            <a href="login.html" class="header-full-navlink3">
              <div class="primary-pink-button-container">
                <button class="primary-pink-button-button button ButtonSmall">
                  <span>Login</span>
                </button>
              </div>
            </a>
          </div>
        </div>
        <div data-role="BurgerMenu" class="header-full-burger-menu">
          <div
            data-thq="thq-dropdown"
            class="header-full-thq-dropdown list-item"
          >
            <div
              data-thq="thq-dropdown-toggle"
              class="header-full-dropdown-toggle"
            >
              <div
                data-thq="thq-dropdown-arrow"
                class="header-full-dropdown-arrow"
              >
                <svg viewBox="0 0 1024 1024" class="header-full-icon">
                  <path
                    d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"
                  ></path>
                </svg>
              </div>
            </div>
            <ul data-thq="thq-dropdown-list" class="header-full-dropdown-list">
              <li data-thq="thq-dropdown" class="header-full-home list-item">
                <a href="index.html">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="header-full-dropdown-toggle1"
                  >
                    <span class="header-full-home1">Home</span>
                  </div>
                </a>
              </li>
              <li
                data-thq="thq-dropdown"
                class="header-full-dropdown list-item"
              >
                <a href="contact-us.html">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="header-full-dropdown-toggle2"
                  >
                    <span class="header-full-contact-us">Contact Us</span>
                  </div>
                </a>
              </li>
              <li
                data-thq="thq-dropdown"
                class="header-full-dropdown1 list-item"
              >
                <div
                  data-thq="thq-dropdown-toggle"
                  class="header-full-dropdown-toggle3"
                >
                  <span class="header-full-about-neu">About NEU</span>
                </div>
              </li>
              <li data-thq="thq-dropdown" class="header-full-log-in list-item">
                <a href="login.html">
                  <div
                    data-thq="thq-dropdown-toggle"
                    class="header-full-dropdown-toggle4"
                  >
                    <span class="header-full-log-in1">Login</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
